<html>
  <style>
    body{
      background-image: url("https://tau0.files.wordpress.com/2013/09/white_sands_dune_face.jpg");
      background-position: left top;
      background-size: 1200px 800px;
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Stock Search</h1>

<form method="POST" action="/search_stock">

<p>Name of the Stock: <input type="text" name="stockname"> <input type="submit" value="search"></p>
 <div>
    {% for n in info %}
    <div>{{n}}</div>
    {% endfor %}
  </div>


</form>

</body>


</html>